<ion-header>
    <ion-toolbar>
        <ion-title>
            Select
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            1 <ion-range snaps="true" min="1" max="10" pin="true"></ion-range> 10
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-col>
            <ion-button size="full">OK</ion-button>
        </ion-col>
        <ion-col>
            <ion-button size="full" color="danger" (click)="dismissPopover()">Cancel</ion-button>
        </ion-col>
    </ion-row>

</ion-content>
